<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Assembly Details</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
<STYLE type="text/css">
</STYLE>
</HEAD>
<BODY>
<DIV class="content">
<DIV id="ass-stats-section-div" name="ass-stats" class="section">
<H2>Section 8. Assembly Details</H2>
<DIV class="section-content">
<CENTER>
    <h3 style="white-space: nowrap"><A name="contig_stat">Table 8.1. Contig Details</A></h3>
                {{ contig_details }}
        <h3 style="white-space: nowrap"><A name="scaf_stat">Table 8.2. Scaffold Details</A></h3>
                    {{ scaffold_details }}
</CENTER>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>
