<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
"http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE>GAEMR Report</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="http://iwww.broadinstitute.org//sites/all/themes/intranet/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
</HEAD>
<FRAMESET rows="100, *">
<FRAME name="top" src="assembly_analysis_title.html" scrolling="NO">
<FRAMESET cols="300,*">
<FRAME name="links" src="assembly_analysis_ind.html">
<FRAME name="contents" src="assembly_stats.html" scrolling="NO">
</FRAMESET>
</FRAMESET>
</HTML>
