<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Blast Analysis</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
<STYLE type="text/css">
</STYLE>
</HEAD>
<BODY>
<DIV class="content">
<DIV id="ass-stats-section-div" name="ass-stats" class="section">

<H2>Section 6. Blast Analysis</H2>

<DIV class="section-content">
<CENTER>
    <h3 style="white-space: nowrap"><A name="blast_bubbles">Figure 6.1 Blast Bubbles</A></h3>
                      <img src= {{ blast_bubbles_image }} alt="image missing: blast_bubbles_image" class="plot"/>


    <h3 style="white-space: nowrap"><A name="blast_heatmap">Figure 6.2 Blast Heat Map</A></h3>
                      <img src= {{ blast_heatmap_image }} alt="image missing: blast_heatmap_image" class="plot"/>


    <h3 style="white-space: nowrap"><A name="blast_tax_det">Table 6.3 Blast Taxonomy Details</A></h3>
                      {{ blast_tax_det_table }}





</CENTER>
</DIV>


</DIV>
</DIV>
</BODY>
</HTML>

