<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Gap End Analysis</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
<STYLE type="text/css">
</STYLE>
</HEAD>
<BODY bgcolor="#FFFFFF" vlink="blue" link="blue">
<DIV class="content">
<DIV id="ass-stats-section-div" name="ass-stats" class="section">
<H2>Section 4. Gap End Analysis</H2>
<DIV class="section-content">
<CENTER>
    <h3 style="white-space: nowrap"><A name="gap_analysis_table">Table 4.1. Gap End Analysis Table</A></h3>
               {{ gap_analysis_table }}
    <h3 style="white-space: nowrap"><A name="gap_ss_table">Table 4.2. Gap End Simple Sequence Analysis Table</A></h3>
               {{ gap_ss_table }}
    <h3 style="white-space: nowrap"><A name="cg_sizes">Figure 4.3. CG Sizes</A></h3>
                <img src={{ cg_sizes_image }}  alt="cg sizes PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="cg_distinct">Figure 4.4. CG Distinctness</A></h3>
                    <img src={{ cg_distinctness }}  alt="cg distinctness PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="cg_copy_num">Figure 4.5. CG Copy Number</A></h3>
                    <img src={{ cg_copy_num }}  alt="cg copy number PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="cg_gc">Figure 4.6. CG GC</A></h3>
                    <img src={{ cg_gc }}  alt="cg gc PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="ue_dictint">Figure 4.7. UE Distinctness</A></h3>
                    <img src={{ ue_distinctness }}  alt="ue distinctness PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="ue_copy_num">Figure 4.8. UE Copy Number</A></h3>
                    <img src={{ ue_copy_num }}  alt="ue copy number PNG file" class="plot"/>
        <h3 style="white-space: nowrap"><A name="ue_gc">Figure 4.9. UE GC</A></h3>
                    <img src={{ ue_gc }}  alt="ue gc PNG file" class="plot"/>
</CENTER>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>
