<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Cumulative Scaffolds and Contigs in Assembly</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
<STYLE type="text/css">
</STYLE>
</HEAD>
<BODY bgcolor="#A0A0A0" vlink="blue" link="blue">
<DIV class="content">
<DIV id="gc-read-aln-section-div" name="gc-read-aln-section" class="section">
<H2>Section 3. GC and Read Alignment</H2>
<DIV class="section-content">
<DIV id="gc-read-aln-div" name="gc-read-aln" class="image-wrapper">
	<H2><A name="gc-read-aln">Figure 3.1. GC and Read Alignment to Contigs</A></H2>
	<IMG src="images/gc_read_aln.png" alt="background image">
</DIV>
<DIV id="read-aln-ref-div" name="read-aln-ref" class="image-wrapper">
	<H2><A name="read-aln-ref">Figure 3.2. Read Alignment to Reference</A></H2>
	<IMG src="images/read_aln_ref.png" alt="background image">
</DIV>
<DIV id="valid-read-pairs-div" name="valid-read-pairs" class="image-wrapper">
	<H2><A name="valid-read-pairs">Figure 3.3. Valid and Invalid Read Pairs</A></H2>
	<IMG src="images/valid_read_pairs.png" alt="background image">
</DIV>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>
