<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Read Stats</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/gaemr.css" />
<STYLE type="text/css">
</STYLE>
</HEAD>
<BODY>
<DIV class="content">
<DIV id="ass-stats-section-div" name="ass-stats" class="section">
<H2>Section 2. Read Stats</H2>
<DIV class="section-content">
<CENTER>

    <h3 style="white-space: nowrap"><A name="scaff_gc_cvg_images">Figure 2.1 Coverage Line Plot and GC</A></h3>
                {{ scaffold_gc_heat_cvg_line_images }}


    <h3 style="white-space: nowrap"><A name="gc_cvg_images">Figure 2.2 Scaffold GC Coverage Histogram</A></h3>
                {{ gc_cvg_images }}

    <h3 style="white-space: nowrap"><A name="simple_bam_stats">Table 2.3 Simple BAM Stats</A></h3>
                {{ simple_bam_stats }}

    <h3 style="white-space: nowrap"><A name="seq_cvrg_stats">Table 2.4 Sequence Coverage Stats</A></h3>
                {{ seq_cvrg_stats }}

    <h3 style="white-space: nowrap"><A name="phys_cvrg_stats">Table 2.5 Physical Coverage Stats</A></h3>
                {{ phys_cvrg_stats }}

    <h3 style="white-space: nowrap"><A name="insert_size_stats">Table 2.6 Insert Size Stats</A></h3>
                {{ insert_size_stats }}

    <h3 style="white-space: nowrap"><A name="scaf_insert_images">Figure 2.7 Scaffold Insert Size</A></h3>
                {{ scaf_inserts_images }}

    <h3 style="white-space: nowrap"><A name="scaf_cov_anorm">Figure 2.8 Coverage Anomalies Scatter Plot</A></h3>
                {{ scaf_cov_anorm }}

    <h3 style="white-space: nowrap"><A name="scaf_cov_anorm_clust_len_images">Figure 2.9 Scaffold Coverage Anomalies Cluster Length Plot</A></h3>
                {{ scaf_cov_anorm_clust_len_images }}

    <h3 style="white-space: nowrap"><A name="scaf_cov_anorm_cvg_change_scatter">Figure 2.10 Scaffold Coverage Anomalies Change in Coverage Scatter Plot</A></h3>
                {{ coverage_change_scatter_images }}

    <h3 style="white-space: nowrap"><A name="scaf_cov_anorm_cvg_change_histogram">Figure 2.11 Scaffold Coverage Anomalies Change in Coverage Histogram</A></h3>
                {{ coverage_change_histogram_images }}


</CENTER>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>
